@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1632300786737') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-codepen:before {
  content: "\e73c";
}

.icon-twitter:before {
  content: "\ec9c";
}

.icon-iconfonttencentweibo:before {
  content: "\e600";
}

.icon-service-phone:before {
  content: "\e614";
}

.icon-iconfontjiantou:before {
  content: "\e638";
}

.icon-xiazai6:before {
  content: "\e606";
}

.icon-qipao:before {
  content: "\e62e";
}

.icon-feed:before {
  content: "\e6e9";
}

.icon-wenjianjia:before {
  content: "\e7aa";
}

.icon-linkedin:before {
  content: "\e6bf";
}

.icon-duihaoqipao2:before {
  content: "\e618";
}

.icon-shengyin:before {
  content: "\e662";
}

.icon-jiantou:before {
  content: "\e603";
}

.icon-jiantou1:before {
  content: "\e612";
}

.icon-twitter1:before {
  content: "\e83e";
}

.icon-shezhi:before {
  content: "\e637";
}

.icon-share:before {
  content: "\e636";
}

.icon-shezhi1:before {
  content: "\e611";
}

.icon-facebook:before {
  content: "\e641";
}

.icon-add-circle:before {
  content: "\e664";
}

.icon-adjust:before {
  content: "\e665";
}

.icon-arrow-up-circle:before {
  content: "\e666";
}

.icon-arrow-right-circle:before {
  content: "\e667";
}

.icon-ashbin:before {
  content: "\e668";
}

.icon-browse:before {
  content: "\e669";
}

.icon-bottom:before {
  content: "\e66a";
}

.icon-camera:before {
  content: "\e66b";
}

.icon-chart-bar:before {
  content: "\e66c";
}

.icon-attachment:before {
  content: "\e66d";
}

.icon-github:before {
  content: "\e629";
}

.icon-facebook1:before {
  content: "\e622";
}

.icon-envelope-full:before {
  content: "\e982";
}

.icon-shengyin1:before {
  content: "\e615";
}

